<div class="container mb-5">
    <div class="text-center mb-3">
        <h3>О нашей компании</h3>
    </div>

    <p>
        Мы более 15 лет занимаемся строительными услугами, делая акцент на <strong>дизайнерские ремонты</strong> b <strong>ремонты под ключ</strong>.
        <br>
        Из-за того, что все виды работ осуществляются специалистами одной компании, ремонт будет проходить без простоев и качественно.
        <br> Только так мы можем гарантировать сроки и <strong>наивысшее качество ремонта</strong>.
    </p>

    <p>
        Никакая экономия не стоит ваших нервов, споров и дискомфорта!
    </p>
    <div class="text-center mb-3">
        <h3>Ваш ремонт начинается со звонка нам!</h3>
    </div>
    <p>
        Ремонт квартир, коттеджей, офисов, производственных площадей и помещений 
        входит в нашу профессиональную компетенцию. За годы работы наша команда 
        специалистов показала свою высокую подготовку, квалификацию, профессионализм 
        и ответственность. Об этом свидетельствуют объемное портфолио выполненных 
        работ и многочисленные положительные отзывы.
    </p>
</div>