<div class="col-12 p-2 container">
    <h3>Ремонт квартиры за разумные деньги!</h3>

    <p>
        Любой из нас желает только лучшего для себя и своей семьи. 
        По мнению психологов, гармония жизни человека напрямую связана 
        с его окружающим пространством. Поэтому, желая что-то менять в лучшую сторону, 
        следует начинать совершенствовать интерьер своего жилища, а также офиса, — сменить 
        устаревший дизайн, вдохнуть в родные квадратные метры вторую жизнь. Но, как обычно это бывает, 
        рассчитывая только лишь на свои знания и навыки, мы обязательно сталкиваемся с тем фактом, 
        что в каждом деле так или иначе требуется профессиональный подход.
    </p>
    <p>
        Наш коллектив рад предложить вам <strong>ремонт в новостройке</strong>, 
        коттедже и на рабочих площадях в комфортные сроки и за разумные деньги. 
        Поручив нам выполнение всех необходимых задач, вы участвуете в проекте, лишь 
        утверждая финишные варианты отделки и значимые изменения в интерьерном пространстве, — 
        все остальное мы берем на себя!
    </p>
    
    <h4>Как выбрать мастеров для ремонта квартиры в Минске?</h4>
    
    <p>
        При выборе мастеров для ремонта наиглавнейшим критерием 
        будет являться соотношение цены и качества. Только после этого можно 
        рассматривать второстепенные моменты — скорость работы, наличие гарантии и ряд других моментов.
    </p>    
    <p>
        Наш коллектив отличает высокий уровень профессионализма, завязанный на основательном опыте выполнения 
        самых различных видов работ. Каждый из наших мастеров владеет несколькими специальностями, 
        что существенно экономит время заказчика. Мы самым внимательным образом выполняем комплексный 
        ремонт квартиры, чутко относимся к пожеланиям заказчика и всегда готовы согласовать те или иные действия, 
        решения в рамках выполнения вашего проекта.
    </p>

    <h5>Особенности выбора стройматериалов</h5>
    
    <p>
        Наш коллектив позаботится о том, чтобы все ваши вложения в ремонт окупились 
        в последствии качеством как используемых материалов, так и работ, а также 
        их долговечностью. Мы предлагаем своим заказчикам осуществить совместную 
        закупку необходимых ресурсов, а также выполнить доставку и поднять материал на объект.
    </p>
    
    <h6>Почему выбирают нас?</h6>
    
    <p>
        <strong>Ремонт квартир в Минске</strong> — направление, которым мы занимаемся не один год.
        В портфолио на нашем сайте представлены фото объектов, отремонтированных нашими мастерами.
    </p>
    
    <p>
        Высокое качество производимых нами работ складывается из множества факторов. 
        Это и наличие необходимого опыта, и профессиональный подход даже к незначительным 
        задачам, понимание всех нюансов процесса с соблюдением необходимых норм, а также 
        использование современного оборудования и инструментов. Наше мастерство подтверждают 
        многочисленные положительные отзывы довольных клиентов.
    </p>
    <p>
        Связаться с нами для уточнения возникших вопросов, оформить заявку на наши 
        услуги вы можете, позвонив по представленным на сайте телефонам (контакты) 
        или отправив запрос через специальную форму.
    </p>
    <div class="projects">
        <div class="text-center">
            <h3>Нашт проекты</h3>
        </div>
        <div class="box">
            <div class="project pr-effect">
                <div class="title pr-effect" style="opacity: 0.6;">
                    <a class="button secondary pr-effect" style="color: black;">
                        <i class="fas fa-eye jump pr-effect" style="padding-right: 10px;"></i>
                        Смотреть альбом
                    </a>
                </div>
                <a id="1" class="link pr-effect" style="opacity: 1;">
                    <img class="img pr-effect" src="/images/main-background.jpg" style="transform: scale(1);">
                </a>
            </div>
            <div class="project pr-effect">
                <div class="title pr-effect" style="opacity: 0.6;">
                    <a class="button secondary pr-effect" style="color: black;">
                        <i class="fas fa-eye jump pr-effect" style="padding-right: 10px;"></i>
                        Смотреть альбом
                    </a>
                </div>
                <a id="Тестовы проект" class="link pr-effect" style="opacity: 1;">
                    <img class="img pr-effect" src="/images/main-background.jpg" style="transform: scale(1);">
                </a>
            </div>
        </div>
        <div class="text-center pb-5">
            <a class="button primary ajax" href="/projects">Смотреть все</a>
        </div>
    </div>
</div>