<div class="col-12 p-2 container">
    <h3>Почему лучше заказывать ремонт квартиры ,дома под ключ</h3>

    <p>
        Неважно, какой площади квартира. И совершено не имеет значения, сколько в этой недвижимости, 
        присутствует комнат. Когда возникает решение провести в ней <strong>ремонт</strong>, всегда приходится 
        быть готовым не лишь к финансовым расходам, но и потери колоссального количества 
        времени и сил. Собственно из-за этих особенностей, присутствующих в 
        любом виде ремонта жилья. Многие люди после непродолжительных размышлений,
         приходят к выводу, что проще найти команду специалистов, готовых взять 
         на себя все ремонтные заботы, и выполнить их без вмешательства в этот процесс владельца жилья.
    </p>
    <p>
        Конечно, разыскивая <strong>ремонт квартир</strong> <strong>под ключ</strong> 
        <strong>в Минске</strong> <strong>недорого</strong>, 
        желательно брать во внимание длительность существования компании 
        и уровень ее репутации. Ведь на плечи мастеров будут ложиться буквально <strong>все виды работ</strong>. 
        И это действительно так, ведь преимуществом таких работ, выполняемых под ключ, является избавление 
        с помощью этой услуги от всех хлопот, связанных с ремонтом квартиры. 
        А вот владельцу, после выбора такой услуги, остаются лишь расходы, 
        связанные с покупкой материалов, и выполнением услуг специалистами.
    </p>
    
    <h3>Подробнее о преимуществах ремонта под ключ</h3>
    
    <p>
        Все организации, предоставляющие такие виды услуг, всегда имеют в наличии мастеров, 
        широкого профиля. Так, что все виды работ, специалистами всегда выполняется <strong>качественно</strong> и <strong>быстро</strong>. 
        Процесс поиска и закупки материала, также осуществляются специалистами компании. 
        Все что требует от клиента, это рассказать, о результате, который он ожидает в итоге получить.
    </p>    
    <p>
        Из-за того, что <strong>все виды работ</strong>, осуществляться будут специалистами одной компании. 
        Весь этот процесс будет проходить слажено и без каких-либо неприятных простоев. 
        Конечно, у такой услуги, предоставляемой строительными компаниями, есть недостаток, 
        и касается он цены. Да, можно найти определенные виды услуг <strong>по меньшей стоимости</strong> 
        в других организациях, чем предоставляется той, что выполняет все работы самостоятельно. 
        Но заплатив такую стоимость <strong>ремонта квартиры под ключ в Минске</strong>, 
        клиент может не сомневаться в качественности выполненных работ. Ведь мы за работу 
        каждого специалиста берём на себя ответственность. А это означает, что, не желая портить 
        свою репутацию, мы контролируем практически каждый этап работ.
    </p>
    <div class="projects">
        <div class="text-center mb-3">
            <h3>Нашт проекты</h3>
        </div>
        <div class="box">
            <% for(let i = 0; i < data.projects.length; i++) { %>
                <% if (i < 2) {%>
                    <div data-name="<%- data.projects[i].dirname %>" class="project pr-effect">
                        <div class="title pr-effect" style="opacity: 0.6;">
                            <a class="button secondary pr-effect" style="color: black;">
                                <i class="fas fa-eye jump pr-effect" style="padding-right: 10px;"></i>
                                Смотреть альбом
                            </a>
                        </div>
                        <a class="link pr-effect" style="opacity: 1;">
                            <img class="img pr-effect" alt="<%- data.projects[i].description %>" src="<%- data.projects[i].images[0] %>" style="transform: scale(1);">
                        </a>
                    </div>
                <% }}%>
        </div>
        <div class="text-center pb-5">
            <a class="button primary ajax" href="/projects">Смотреть все</a>
        </div>
    </div>
</div>