<div class="container mb-5">
    <div class="text-center">
        <h3> Ремонт комерческой недвижемости </h3>
    </div>
    <p>
        Большинство строительных организаций предпочитают выполнение заказов на строительство и 
        отказываются от работ по ремонту квартир. Объяснение простое: строительные объемы выполнять 
        проще и стоят они больше, тогда как <strong>ремонт квартир</strong> не предполагает большого заработка.
    </p>
    <p>
        В отличие от подрядных строительных организаций мы выполняем такую работу 
        регулярно и накопили за прошедшее десятилетие огромный объем опыта. Каждый член 
        нашего коллектива за прошедшие годы освоил дополнительно к основной две-три другие 
        профессии. Это даёт нам возможность гарантировать заказчику качественную работу с 
        обязательным соблюдением оговоренных сроков окончания работ и с большой вероятностью 
        досрочного выполнения всего намеченного объема.
    </p>
    <p>
        Наш коллектив способен выполнить этот заказ, расценки будут значительно меньше 
        тех, что назначаются строительными организациями, так как нам не нужно оплачивать 
        труд мастеров, прорабов, сметчиков и других инженерно-технических сотрудников, 
        входящих в штаты ремонтно-строительных организаций. Мы сами способны обсчитать 
        объем предстоящих ремонтных работ, составить юридически грамотный договор и выполнить 
    </p>
</div>