<div class="container mb-5">
    <div class="text-center mb-3">
        <h3>Для чего нужен дизайн-проект квартиры и стоит ли нанимать профессионального дизайнера?</h3>
    </div>
    <p>
        Существует стереотип, что услугами дизайнера интерьера пользуются только состоятельные люди 
        или не имеющие фантазии, чтобы оформить собственное жилье. На самом деле за помощью к 
        профессионалам прибегают многие независимо от финансового состояния и степени креативного мышления.
    </p>
    <p>
        Не имея профессионального дизайнерского образования, невозможно учесть все моменты, 
        в отношении эстетики, функциональности, удобства и эргономичности. 
        Самоучки часто совершают ошибки, которые приходится переделывать, что требует дополнительного времени и средств.
    </p>
    <p>
        <strong>Дизайн интерьера</strong> – это больше, чем просто <strong>выбрать цвет обоев</strong> 
         или <strong>подобрать плитку в ванную</strong>. 
        Нужно продумать все, начиная от <strong>монтажных работ</strong> до расстановки мебели и декора.
    </p>
</div>