<div class="container mb-5">
    <div class="text-center mb-3">
        <h3>Ремонт под ключ</h3>
    </div>
    <p>
        <strong>Ремонт квартир под ключ</strong> становится все более востребованным, так как имеет такие преимущества:
    </p>
    <ul>
        <li class="pt-2">
            Одна компания выполняет <strong>все виды работ</strong>, именно поэтому вам не нужно искать каждого 
            специалиста по отдельности. За счет этого хлопот во время ремонта будет меньше;
        </li>
        <li class="pt-2">
            Стоимость ремонта также становится гораздо меньше;
        </li>
        <li class="pt-2">
            Время ремонта сокращается, так как этапы работы делаются последовательно и без остановок (если они не требуются);
        </li>
        <li class="pt-2">
            Если после окончания ремонта вы заметили какие-либо недочеты, то искать виновного станет 
            намного проще. То есть, виновен будет только подрядчик, который занимался ремонтом полностью. 
            Если вы обращаетесь в разные компании, то найти крайнего будет очень сложно;
        </li>
        <li class="pt-2">
            <strong>Проектирование и ремонт</strong> обязательно полностью согласовывается с компанией, которая будет 
            заниматься ремонтом. Хорошая бригада учтет все ваши пожелания, также контролировать процесс 
            будет намного легче, а также вносить изменения;
        </li>
    </ul>
    <p class="pt-3">
        <strong>Простой в ремонте</strong>, таким образом, вы сведете до минимума.
    </p>
</div>