a {
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	text-decoration: none;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important;
	font-weight: 300;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}